<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Target" value="Solution"/>
    <add key="TargetPath" value="C:\projects\crossover\bootcamp\gfi-mail-archiver\HUT\HandcraftedUT.sln"/>
    <add key="OutputFolder" value="c:\projects\crossover\bootcamp\test\Extractor\"/>
    <add key="SkipFolders" value="obj;bin;.vs;packages"/>
  </appSettings>
</configuration>
